doctype html
html
    head
        title= title
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
        link(rel='stylesheet' href='//keystone.forgegraphics.com/styles/main.css')
        link(rel='stylesheet' href='/styles/editor.css')


    body.editor.container.is-widescreen
        div.columns
            div.column.is-8
                h2.title.is-2= title
                h3.sub-title.is-3= message

        div.editor-page-container.columns
            div.policy-list.column.is-3
                div.field
                    label.label(for='policysearch') Search:
                    div.control.has-icons-right
                        input(type='text' class="input" name='policysearch' placeholder='(Policy Number)')
                        span.icon.is-small.is-right
                            i.fas.fa-search

                ul
                    li  retractable Policy List goes here

            div.editor-form.column.is-9
                form(id='policy-form' method='POST' action='/editor-test')

                    div.columns
                        div.field.column.is-10
                            label.label(for='policytitle') Policy Title:
                            div.control.has-icons-right
                                input(type='text' class="input" name='policytitle' value=policytitle)
                                span.icon.is-small.is-right
                                    i.fas.fa-check
                        div.field.column.is-2
                            label.label(for='policynumber') Policy Number:
                            div.control.has-icons-right
                                input(type='text' class="input" name='policynumber' value=policynumber)
                                span.icon.is-small.is-right
                                    i.fas.fa-check
                    div.editor-container.panel
                        textarea( id='editor1' rows='10' cols='80' name='editorcontent')=editorcontent
                    div.columns
                        div.field.is-horizontal.column.is-10.is-offset-1
                            div.field-label.is-normal
                                label.label(for='note') Version Notes:
                            div.field-body
                                div.field
                                    div.control.has-icons-left
                                        input(type='text' class="input" name='note' value=note)
                                        span.icon.is-left
                                            i.fas.fa-check
                    div.field
                        div.control
                            div.version-list.select.is-info
                                select
                                    each content, index in contentversionarr
                                        option(value=index)
                                            span.version-date= content.versiondate
                                            span.version-note= content.note
                                    else
                                        option(value='') Select Version

                    div.field.is-grouped
                        input(type='hidden' name='currentversion' value=currentversion)
                        div.control.cancel-button
                            button(type='button' class='button cancel-btn') Cancel Edits
                        div.control.save-button
                            button(type='button' class='button save-btn') Save Policy
                        div.control.new-button
                            button(type='button' class='button new-btn') Create New Policy
                        div.control.view-button
                            button(type='button' class='button view-btn') View Policies List
                        div.control.set-version-button
                            button(type='button' class='button set-btn') Set Version as Current



        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(type='text/javascript' src='/scripts/ckeditor/ckeditor.js')
        script(type='text/javascript' src='/scripts/editor.js')
        script(type='text/javascript' src='https://use.fontawesome.com/releases/v5.0.7/js/all.js')
