doctype html
html
    head
        title= title
        link(rel='stylesheet',href='//keystone.forgegraphics.com/styles/main.css')
        link(rel='stylesheet',href='/styles/editor.css')
    body.editor
        h2= title
        h3= message
        form(id='policy-form' method='POST' action='/editor-test')
            div(class='editor-container')
                div
                    label(for='policytitle') Policy Title:
                    input(type='text' name='policytitle' value=policytitle)
                div
                    label(for='policynumber') Policy Number:
                    input(type='text' name='policynumber' value=policynumber)
                div
                    textarea( id='editor1' rows='10' cols='80' name='editorcontent')=editorcontent
                div
                div
                div
                    label(for='note') Version Notes:
                    input(type='text' name='note' value=note)
                div.button-row
                    input(type='hidden' name='currentversion' value=currentversion)
                    div.cancel-button
                        button(type='button' class='cancel-btn') Cancel Edits
                    div.save-button
                        button(type='button' class='save-btn') Save Policy
                    div.new-button
                        button(type='button' class='new-btn') Create New Policy
                    div.view-button
                        button(type='button' class='view-btn') View Policies List


        div(class='version-list')
            ol
                each content in contentversionarr
                    li
                        span(class='version-date')=content.versiondate
                        span(class='version-note')=content.note
                else
                    li No other versions

        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(type='text/javascript' src='/scripts/ckeditor/ckeditor.js')
        script(type='text/javascript' src='/scripts/editor.js')