doctype html
html
    head
        title= title
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
        link(rel='stylesheet' href='//keystone.forgegraphics.com/styles/main.css')
        link(rel='stylesheet' href='/styles/editor.css')


    body.editor
        h2= title
        h3= message
        div.policy-list
            input(type='text' class="input" name='policysearch')
            ul
                li  retractable Policy List goes here



        div.container.is-widescreen.editor-form
        form(id='policy-form' method='POST' action='/editor-test')
            div(class='editor-container')
                div.field
                    label.label(for='policytitle') Policy Title:
                    div.control.has-icons-right
                        input(type='text' class="input" name='policytitle' value=policytitle)
                        span.icon.is-small.is-right
                            i.fas.fa-check
                div.field
                    label(for='policynumber') Policy Number:
                    div.control.has-icons-right
                        input(type='text' class="input" name='policynumber' value=policynumber)
                        span.icon.is-small.is-right
                            i.fas.fa-check
                div
                    textarea( id='editor1' rows='10' cols='80' name='editorcontent')=editorcontent

                div.field
                    label(for='note') Version Notes:
                    div.control
                        input(type='text' class="input" name='note' value=note)
                div.field.is-grouped
                    input(type='hidden' name='currentversion' value=currentversion)
                    div.control.cancel-button
                        button(type='button' class='button cancel-btn') Cancel Edits
                    div.control.save-button
                        button(type='button' class='button save-btn') Save Policy
                    div.control.new-button
                        button(type='button' class='button new-btn') Create New Policy
                    div.control.view-button
                        button(type='button' class='button view-btn') View Policies List
                    div.control.set-version-button
                        button(type='button' class='button set-btn') Set Version as Current


        div(class='version-list')
            ol
                each content in contentversionarr
                    li.content-version
                        span(class='version-date')=content.versiondate
                        span(class='version-note')=content.note
                else
                    li No other versions

        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(type='text/javascript' src='/scripts/ckeditor/ckeditor.js')
        script(type='text/javascript' src='/scripts/editor.js')
        script(type='text/javascript' src='https://use.fontawesome.com/releases/v5.0.7/js/all.js')
