doctype html
html
    head
        title= title
        link(rel='stylesheet',href='/styles/main.css')
        link(rel='stylesheet',href='/styles/editor.css')
    body.editor
        h2= title
        h3= message
        form(method='POST')
            div
                label(for='policytitle') Policy Number:
                input(type='text' name='policytitle' value=policytitle)
            div
                label(for='policynumber') Policy Number:
                input(type='text' name='policynumber' value=policynumber)
            div
                textarea( id='editor1' rows='10' cols='80' name='editorcontent')=editorcontent
            div
                button(type='submit') Submit

        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(type='text/javascript' src='../scripts/ckeditor/ckeditor.js')
        script(type='text/javascript' src='/scripts/editor.js')