doctype html
html
    head
        title= title
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
        link(rel='stylesheet' href='//keystone.forgegraphics.com/styles/main.css')
        link(rel='stylesheet' href='/styles/editor.css')


    body.editor
        div.columns
            div.column.is-8
                h2.title.is-2= title
                h3.sub-title.is-3= message

        div.editor-page-container.container.is-widescreen
            div.columns
                div.policy-list.column.is-3
                    div.field
                        label.label(for='policysearch') Search:
                        div.control.has-icons-right
                            input(type='text' class="input" name='policysearch' placeholder='(Policy Number)')
                            span.icon.is-small.is-right
                                i.fas.fa-search

                    ul
                        li  retractable Policy List goes here

                div.editor-form.column.is-9
                    form(id='policy-form' method='POST' action='/editor-test')

                        div.columns
                            div.field.column.is-10
                                label.label(for='policytitle') Policy Title:
                                div.control.has-icons-right
                                    input(type='text' class="input" name='policytitle' value=policytitle)
                                    span.icon.is-small.is-right
                                        i.fas.fa-check
                            div.field.column.is-2
                                label.label(for='policynumber') Policy Number:
                                div.control.has-icons-right
                                    input(type='text' class="input" name='policynumber' value=policynumber)
                                    span.icon.is-small.is-right
                                        i.fas.fa-check
                        div.editor-container.panel
                            textarea( id='editor1' style='display:none' rows='10' cols='80' name='editorcontent')=editorcontent

                        div.columns
                            div.field.is-horizontal.column.is-10.is-offset-1
                                div.field-label.is-normal
                                    label.label(for='note') Version Notes:
                                div.field-body
                                    div.field
                                        div.control.has-icons-left
                                            input(type='text' class="input" name='note' value=note)
                                            span.icon.is-left
                                                i.fas.fa-check

                        div.columns
                            div.field.is-horizontal.column.is-10.is-offset-1
                                div.field-label.is-normal
                                    label.label(for='note') Versions:
                                div.field-body
                                    div.field
                                        div.control
                                            div.version-list.select.is-info.is-fullwidth
                                                select
                                                    each content, index in contentversionarr
                                                        option(value=index)= content.versiondate + ' - ' + content.note



                        div.field.is-grouped.is-grouped-right
                            input(type='hidden' name='currentversion' value=currentversion)

                            div.control.cancel-button
                                button.button.is-danger.is-outlined.cancel-btn(type='button')
                                    span.icon.is-small
                                        i.fas.fa-times
                                    span Cancel

                            div.control.view-button
                                button.button.is-info.is-outlined.view-btn(type='button')
                                    span.icon.is-small
                                        i.fas.fa-check
                                    span View Policy
                            div.control.new-button
                                button(type='button' class='button new-btn') Create New Policy

                            div.control.save-button
                                button.button.is-success.is-outlined.save-btn(type='button')
                                    span.icon.is-small
                                        i.fas.fa-check
                                    span Save Policy

                        div.field.is-grouped.is-grouped-right
                            div.control.draft-button
                                button.button.is-link.is-outlined.draft-btn(type='button')
                                    span.icon.is-small
                                        i.fas.fa-angle-double-up
                                    span Draft
                            div.control.publish-button
                                button.button.is-link.is-outlined.pub-btn(type='button')
                                    span.icon.is-small
                                        i.fas.fa-angle-double-up
                                    span Publish



            div.preview.card
                header.card-header
                    p.card-header-title Policy Edit Preview
                div.card-content
                    div.content

        footer.footer
            div.container
                div.content.has-text-centered
                    p Proprietary Information of Blue Cross and Blue Shield of Alabama

        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(type='text/javascript' src='/scripts/ckeditor/ckeditor.js')
        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js')
        script(type='text/javascript' src='/scripts/editor.js')
        script(type='text/javascript' src='https://use.fontawesome.com/releases/v5.0.7/js/all.js')
