doctype html
html
    head
        title= title

        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css')
        link(rel='stylesheet' href='//keystone.forgegraphics.com/styles/main.css')
        link(rel='stylesheet' href='/styles/policy-list.css')


    body.is-widescreen
        div.fixed-image
            div.image-overlay
        div.fixed-title
            h1.title.is-1= title
            h6.subtitle.is-6= message

        div.page-container.column.is-12


            div.policy-tabs.tabs.is-centered.is-toggle
                ul
                    li.final-tab.is-active
                        a
                            span Final Medical Policies
                    li.draft-tab
                        a
                            span Draft Medical Policies

            div.columns.search-band
                div.trans-blue.column.is-2
                div.trans-blue.left-of-search.column.is-1
                div.column.is-6.policy-search
                    select(style='width:100%')
                div.trans-blue.column.right-of-search.is-1
                div.trans-blue.column.right-of-search.is-2

            div.policy-list.column.is-8.is-offset-2
                ul


            div.policy-view
                div.policy-title= policytitle
                div.policy-number= policynumber
                div.policy-content= policycontent

        //- video(autoplay loop id="video-background" muted plays-inline)
            source(src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4")

        footer.footer.column.is-12
            div.content.has-text-centered
                p Proprietary Information of Blue Cross and Blue Shield of Alabama




        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js')
        script(type='text/javascript' src='/scripts/policy-list.js')
        script(type='text/javascript' src='https://use.fontawesome.com/releases/v5.0.7/js/all.js')
        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')