doctype html
html
    head
        title= title
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
        link(rel='stylesheet',href='//keystone.forgegraphics.com/styles/main.css')
        link(rel='stylesheet',href='/styles/policy-list.css')

    body
        h2.title.is-2= title
        h3.sub-title.is-3= message


        div.policy-list
            ul
                each policy in policylistarr
                    li
                        a(href="view-policy/"+policy._id class="policy-link")
                            span(class='policy-list-number')=policy._id
                            span(class='policy-list-title')=policy.title


        div.policy-view
            div.policy-title= policytitle
            div.policy-number= policynumber
            div.policy-content= policycontent

        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(type='text/javascript' src='/scripts/policy-list.js')
        script(type='text/javascript' src='https://use.fontawesome.com/releases/v5.0.7/js/all.js')