doctype html
html
    head
        title= title
        link(rel='stylesheet',href='/styles/view-policy.css')
        link(rel='stylesheet',href='//keystone.forgegraphics.com/scripts/ckeditor/contents.css')
    body.editor
        h2= title
        h3= message

        div.policy-title= policytitle
        div.policy-number= policynumber
        div.policy-content= policycontent







        script(type='text/javascript' src='/scripts/view-policy.js')

